.list .item {
  display: flex;
  background: #F7F7F7;
  border-radius: 2vw;
  overflow: hidden;
  margin-top: 3vh;
}

.list .item .left {
  width: 5%;
}

.list .item .right {
  width: 95%;
  box-sizing: border-box;
  padding: 3vw 5vw 3vw 2vw;
}

.list .item .right > a {
  color: #333333;
  font-size: .4rem;
  padding-bottom: 5px;
  display: block;
}

.list .item .right > div {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list .item .right > div > p {
  font-size: .2rem;
  color: #999999;
}

.detailTitle {
  width: 75%;
  text-align: center;
  font-size: .5rem;
  color: #333333;
  margin: 18vh auto 0;
  line-height: .7rem;
}

.detailSchool {
  width: 75%;
  margin: 3vh auto 0;
  font-size: .2rem;
  color: #999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailList {
  margin-top: 5vw;
  margin-bottom: 10vh;
}

.detailList .item {
  height: 10vw;
  display: flex;
  border-bottom: 1px solid #E3E3E3;
}

.detailList .item p {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .4rem;
}

.detailList .item p:nth-child(1), .detailList .item p:nth-child(3) {
  background: #DEEEFE;
}

.detailList .item p:nth-child(2), .detailList .item p:nth-child(4) {
  background: #F7F7F7;
}
