.shopWrap {
  background: url("../assets/bg_shangcheng.png") top center no-repeat, #DAEE82;
  background-size: 100% auto;
  height: calc(100vh - 8vh);
  width: 100vw;
  overflow: auto;
  padding-bottom: 10vh;
  box-sizing: border-box;
}

.shopFoot {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  height: 8vh;
  background: #DAEE82;
}

.shopFoot .item {
  width: calc(100vw / 6);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopFoot .item p {
  font-size: .2rem;
  padding: 0;
  margin: 0;
  color: #A6A5AA;
}

.shopFoot .item img {
  width: 6vw;
}

.shopFoot .item.activeFoot p {
  color: #0080FF;
}

.shopTitle {
  font-size: .6rem;
  padding: 5vw 0;
  text-align: center;
  /*position: fixed;*/
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
}

.listGift {
  position: relative;
  background: url("../assets/bg_liwu.png") center top no-repeat;
  background-size: 100% 100%;
  margin: 0 3vw;
}

.listGift p {
  font-size: .5rem;
  text-align: center;
  padding-top: 95px;
  padding-bottom: 10px;
}

.listGift a {
  font-size: .3rem;
}

.listGift .listWrap {
  margin: 0 auto;
  display: flex;
  padding: 0 0 2vh;
  flex-wrap: wrap;
  background: #ffe6a7;
}

.listGift .listWrap .item {
  width: 20vw;
  height: 20vw;
  background: #ffffff;
  border-radius: 1vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.65vw 10px;

}

.listGift .listWrap .item img {
  width: 100%;
}

.listGift > a {
  font-size: .4rem;
  color: #ffffff;
  background: #E89604;
  width: 30vw;
  height: 8vw;
  border-radius: 8vw;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 0;
  margin: 0 0 -4vw -15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopWrap.page {
  height: 30vh;
  overflow: hidden;
  position: relative;
}
.back {
  display: block;
  padding-left: 3vw;
}

.commodity {
  background: #FFE6A7;
  width: 90vw;
  height: 20vh;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 9;
  margin-left: -45vw;
  margin-bottom: -10vh;
  border-radius: 3vw;
  display: flex;
  align-items: center;
}

.commodity .left {
  width: 30vw;
  height: 30vw;
  border-radius: 15vw;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
  background: #ffffff;
  margin-left: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commodity .left img {
  max-width: 100%;
  max-height: 100%;
}

.commodity .right {
  flex: 1;
  padding: 0 5vw;
  color: #666666;
}

.commodity .right p {
  font-size: .5rem;
  padding: 3vw 0;
}

.commodity .right > div {
  display: flex;
  align-items: center;
}

.commodity .right > div p:nth-child(1) {
  font-size: .5rem;
}

.commodity .right > div p:nth-child(2) {
  color: #E93737;
  font-size: .6rem;
}

.commodity .right > div > div {
  margin-left: 2vw;
  background: url("../assets/wdjf_icon_gold_defa.png") center no-repeat;
  width: 5vw;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #DF8902;
  font-size: .4rem;
}

.exchange {
  background: #0F88FF;
  font-size: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45vw;
  height: 10vw;
  color: #ffffff;
  margin: 16vh auto 0;
  border-radius: 2vw;
}
