.shopWrap {
  background: url("../assets/bg_shangcheng.png") top center no-repeat, #DAEE82;
  background-size: 100% auto;
  height: calc(100vh - 8vh);
  width: 100vw;
  overflow: auto;
  padding-bottom: 10vh;
  box-sizing: border-box;
}

.shopFoot {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  height: 8vh;
  background: #DAEE82;
}

.shopFoot .item {
  width: calc(100vw / 6);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopFoot .item p {
  font-size: .2rem;
  padding: 0;
  margin: 0;
  color: #A6A5AA;
}

.shopFoot .item.activeFoot p {
  color: #0080FF;
}

.shopTitle {
  font-size: .6rem;
  padding: 5vw 0;
  text-align: center;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
}

.listGift {
  position: relative;
  background: url("../assets/bg_liwu.png") center top no-repeat;
  background-size: 100% 100%;
  margin: 0 3vw;
}

.listGift p{
  font-size: .5rem;
  text-align: center;
  padding-top: 20%;
  padding-bottom: 3%;
}

.listGift a{
  font-size: .3rem;
}

.listGift .listWrap {
  margin: 0 auto;
  width: 90vw;
  height: 12vh;
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 2vh;
}

.listGift .listWrap .item {
  width: 20vw;
  height: 20vw;
  background: #ffffff;
  border-radius: 1vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listGift .listWrap .item img {
  max-width: 100%;
  max-height: 100%;
}

.listGift > a {
  font-size: .4rem;
  color: #ffffff;
  background: #E89604;
  width: 30vw;
  height: 8vw;
  border-radius: 8vw;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.5);
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 0;
  margin: 0 0 -4vw -15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopWrap.page {
  height: 30vh;
  overflow: hidden;
  position: relative;
}

.back {
  display: block;
  padding-left: 3vw;
}

.commodity {

}
