
.lineEveryDay {
  padding: 5vw 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lineEveryDay > a {
  width: 25vw;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .4rem;
  border: 1px solid #0F88FF;
}

.lineEveryDay > a:nth-child(1) {
  border-right: none;
  border-radius: 3vw 0 0 3vw;
}

.lineEveryDay > a:nth-child(2) {
  border-left: none;
  border-radius: 0 3vw 3vw 0;
}

.lineEveryDay > a.dayActive {
  background: #0F88FF;
  color: #ffffff;
}

.signIn {
  margin-bottom: 10vh;
}

.signIn .item {
  width: 100%;
  padding: 3vw;
  height: 24vw;
  box-sizing: border-box;
  display: flex;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.18);
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 5vw;
}

.signIn .item img {
  width: 20px;
  height: 20px;
  margin-right: 5%;
  padding-top: 5px;
}

.signIn .item .content {
  flex: 1;
}

.signIn .item .content p {
  font-size: .4rem;
  padding: 5px 0;
}

.signIn .item .content a {
  font-size: .4rem;
  padding: 5px 0;
}

.signIn .item .content p {
  color: #343434;
}

.signIn .item .content a {
  color: #999999;
}

.signIn .item .right {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signIn .item .right > div {
  width: 30vw;
  height: 10vw;
  background: #0F88FF;
  font-size: .4rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.signIn .item.activeSign {
  background: #DEEEFE;
}

.signIn .item.activeSign .content a {
  color: #0F88FF;
}

.signIn .item.activeSign .right > div {
  background: url("../assets/icon_qiandao.png") center no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 0;

}

.taskDes {
  display: flex;
  justify-content: center;
  margin-top: 8vw;
  font-size: .2rem;
}

.taskDes textarea {
  background: #F7F7F7;
  border: 1px solid #D8D8D8;
  width: 100%;
}

.uploadSpan {
  font-size: .4rem;
  padding-top: 3vw;
}

.imgList {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3vw;
  box-sizing: border-box;
  width: 100%;
}

.imgList > img {
  width: 52px;
  height: 52px;
  margin-right: 3vw;
  margin-top: 3vw;
  background: #ffffff;
  box-shadow: 0 0 10px #cccccc;
}

.uploadBut {
  position: relative;
  padding: 3vw 3vw 3vw 0;
  display: inline-block;
}

.uploadBut p {
  font-size: .3rem;
  width: 52px;
  text-align: center;
}

.uploadBut .fileUpload {
  display: none;
}

.save {
  width: 25vw;
  height: 8vw;
  background: #0F88FF;
  position: absolute;
  bottom: 5vh;
  left: 50%;
  margin-left: -12.5vw;
  z-index: 9;
  font-size: .4rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3vw;
}
