li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrap {
  width: 100vw;
  height: calc(100vh - 8vh);
  background: #ffffff;
}

.pageWrap {
  width: 100vw;
  background: #ffffff;
  box-sizing: border-box;
  padding-top: 7vh;
  padding-bottom: 8vh;
  position: relative;
}

.noFoot {
  padding: 5vw;
}

.foot {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  height: 8vh;
  border-top: 1px solid #cccccc;
  background: #ffffff;
}

.foot .item {
  width: calc(100vw / 6);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foot .item p {
  font-size: .2rem;
  padding: 0;
  margin: 0;
  color: #A6A5AA;
}

.foot .item img {
  width: 10vw;
}

.foot .item.activeFoot p {
  color: #0080FF;
}

.backHead {
  height: 7vh;
  display: flex;
  align-items: center;
  background: #0F88FF;
  box-sizing: border-box;
  width: 100vw;
  padding: 0 3vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.backHead.extent {
  height: 14vh;
  display: block;
  position: fixed;
}

.backHead.extent .imgWrap {
  position: absolute;
  bottom: -15vw;
  left: 50%;
  z-index: 10;
  width: 30vw;
  height: 30vw;
  margin-left: -15vw;
  border-radius: 15vw;
  overflow: hidden;
}

.backHead.extent .imgWrap img {
  width: 100%;
  height: 100%;
}

.backHead a {
  font-size: .6rem;
  color: #ffffff;
  width: 15vw;
  display: flex;
  align-items: center;
  height: 100%;
}

.backHead.extent a {
  display: block;
  height: auto;
  padding-top: 1vh;
}

.backHead > div {
  display: flex;
  width: 15vw;
  font-size: .6rem;
  color: #ffffff;
  align-items: center;
}

.backHead div:nth-child(2) {
  justify-content: center;
  flex: 1;
}

.rowPadding {
  padding: 0 3vw;
  box-sizing: border-box;
  width: 100vw;
}

.tip {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  transition:all 1s;
  visibility: hidden;
  opacity: 0;
}

.tip .tipWrap {
  border-radius: 3vw;
  width: 60vw;
  height: 30vw;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.tip .tipContent {
  flex: 1;
  font-size: .4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #cccccc;
}
.tip .tipFoot {
  height: 10vw;
  font-size: .4rem;
  display: flex;
}

.tip .tipFoot > div {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.tip .tipFoot > div:nth-child(1) {
  border-right: 1px solid #cccccc;
}

.tip .tipFoot > div.oneTip {
  border: none;
}
